/*Background */
body {
     background: url("http://i.imgur.com/Po4Zqtd.jpg") top center;
	 background-repeat: no-repeat;
	 background-attachment: scroll;
	 background-size: cover;
}

/*Background Header */
#secao-principal {
     background: url("http://i.imgur.com/jKiarSp.png") top center;
	 background-repeat: no-repeat;
	 background-attachment: scroll;
	 padding: 1px;
}

/*Imagem principal */
#secao-primaria img{
	margin-top: 250px;
}

figcaption {
	margin-bottom: 20px;
	padding: 10px;
	color: black;
	text-align: left;
	background-color: rgba(200,200,200,0.7)
}
