#secao-principal{

	background-image: url("../img/Background.jpg"); 

}

figcaption{

	padding: 10px 25px;
	color: #AAA;
	text-align: left;
	background-color: rgba(200,200,200,0.3)
}

/*Máscara cinza para o back ground */
#mask{

	color: white;
	background-color: rgba(0,0,0,0.5);
	width:100%;
	height:90%;
	position:absolute;
	top:0;
	left:0;
}